<ion-view  title="{{label.title}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
      <div class="buttons">
        <button class="button button-icon icon ion-ios7-minus-outline" 
          ng-click="state.showDelete = !state.showDelete; state.showReorder = false"></button>
        <button class="button"
          ng-click="state.showDelete = false; state.showReorder = !state.showReorder">
            Reorder
        </button>
      </div>
  </ion-nav-buttons>

<!--   <ion-header-bar class="bar-subheader">
  </ion-header-bar>
 -->


  <ion-content>
    <div class="button-bar bar-royal">
      <a class="button activated icon ion-checkmark-circled"></a>
      <a class="button icon ion-heart"></a>
      <a class="button icon ion-ios7-upload-outline"></a>
    </div>
    <!-- header card  -->
    <div class="card header-card">
      <div class="item item-divider">
        {{label.header_card[$state.current.name].header}}
      </div>
      <div class="item item-text-wrap">
        {{label.header_card[$state.current.name]body}}
      </div>
      <div class="item item-divider">
        {{label.header_card[$state.current.name]footer}}
      </div>
    </div>
    <!-- collection-repeat  -->
    <ion-list ng-if="1" class="otg-preview-list"
                show-delete="state.showDelete"
                show-reorder="state.showReorder"
                can-swipe="state.canSwipe">
      <div class="item"
        collection-repeat="item in photos"
        collection-item-width="'100%'"
        collection-item-height="getItemHeight(item, $index)"
        >
          <!-- {{$index}}:{{item.id}} -->
          
            <ion-item>

              <img ng-src="{{item.src}}" height="{{item.height}}">
              <ion-option-button class="button-positive"
                                 ng-click="share(item)">
                Share
              </ion-option-button>
              <ion-option-button class="button-energized"
                                 ng-click="edit(item)">
                Edit
              </ion-option-button>
              <ion-delete-button class="ion-minus-circled"
                                 ng-click="photos.splice($index, 1)">
              </ion-delete-button>
              <ion-reorder-button class="ion-navicon"
                                  on-reorder="reorderItem(photos, item, $fromIndex, $toIndex)">
              </ion-reorder-button>

            </ion-item>
          
      </div>
    </ion-list>

  </ion-content>
</ion-view>


